#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p{
  margin: 0;
}

.game-container{
  min-width: 350px;
  max-width: 700px;
  min-height: 500px;
  max-height: 750px;

  display: flex;
  justify-content: flex-end;

  padding: 50px;

  border-radius: 5px;

  background-color: rgb(202, 202, 202);
}

.about{
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  text-decoration: none;
  text-transform: uppercase;

}